<div class="list-item list-item-card el-row">
  <el-col :span="21">
    <p>{{ card.word.getValue() }}</p>
  </el-col>
  <el-col :span="2">
    <el-button
      type="danger"
      icon="el-icon-close"
      size="mini"
      @click.stop="removeCard"
      plain
    ></el-button>
  </el-col>
  <el-col :span="24">
    <p class="no-margin card-value">{{ card.translate.getValue() }}</p>
  </el-col>
  <el-col :span="24" v-if="card.word.creator">
    <el-popover placement="top-start" width="250" trigger="hover">
      <el-row>
        <el-col :span="6">
          <div class="avatar-wrapper-small pull-left">
            <div class="avatar">
              <img class="avatar-small" :src="card.word.user.avatar" />
            </div>
          </div>
        </el-col>
        <el-col :span="18">
          <p class="text-danger">{{ card.word.user.login }}</p>
          <p>{{ $t('cardsCreated', {quantity: card.word.user.cardsCreated}) }}</p>
        </el-col>
      </el-row>
      <span class="no-margin danger pull-right small" slot="reference">
        {{ $t('added', {login:  card.word.user.login}) }}
      </span>
    </el-popover>
  </el-col>
</div>
