@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.puzzle-wrapper {
  > .el-card__body {
    display: flex;
    flex-wrap: wrap;
  }
}

.drag {
  font-family: sans-serif;
  position: relative;
  text-align: center;
  vertical-align: top;
  padding: 5px 10px;
  cursor: grab;
}
.drop {
  font-family: sans-serif;
  position: relative;
  text-align: center;
  vertical-align: top;
  background: #fff;
  border: 1px solid #ccc;
  height: 50px;
  min-width: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dragenter {
  border-color: rgb(32, 160, 255);
}
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
.rotating {
  animation: loading-rotate 0.5s linear 1;
}
.drop-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.drag.elem {
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 5px;
}
.gray-bordered {
  border: 1px solid #e7e7e7;
}
.ion-android-refresh {
  position: absolute;
  right: 10px;
  top: 10px;
  &:hover {
    color: #ff4949;
  }
}
