<el-col :md="6" :xs="24">
  <el-card id="intro-target-account-widget" class="box-card account-card" shadow="hover">
    <div class="avatar-wrapper-big">
      <img class="avatar-small" :src="_user.avatar"  alt=''/>
    </div>
    <p class="text-center">{{ _user.login }}</p>
    <p class="text-center">{{ _user.email }}</p>
    <p v-if="false" :class="color(_user.plan.id)">{{ _user.plan.name }}</p>
    <p class="text-center" v-if="false">
      активен до: {{ user.active_to }}
    </p>
  </el-card>
</el-col>
