.slide {
  padding: 10px;
  height: 100%;
  width: 100%;
  position: relative;

  .word {
    border-bottom: 1px solid rgb(209, 219, 229);
    font-size: 1.3em;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .translate-area {
    position: relative;
    min-height: 80%;
    border: 1px dashed #dadada;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-top: 40px;

    .slide-value {
      border-bottom: 1px solid #dadada;
      width: 80%;
      text-align: center;
      padding-bottom: 40px;
    }

    .ion-help {
      font-size: 6em;
      color: #dadada;
    }
  }

  .example-area {
    margin-top: 40px;

    .example-value {
      font-style: italic;
    }
  }
}
