
$body-background: #f1f4f9;
$blue-color: #20a0ff;
$muted-color: #999;
$background-muted: #f4f4f5;
$primary-color: #428bca;
$primary-color-hover: #2d6987;
$danger-color: #ff4949;
$danger-color-hover: #953b39;
$warning-color: hsl(48, 100%, 67%);
$warning-color-hover: #a47e3c;
$success-color: hsl(141, 71%, 48%);
$success-color-hover: #356635;
