@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  margin: 0;
  min-height: 100%;
  color: #4a4a4a;
  font-size: 16px;
  line-height: 1.428571429;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-family: 'Roboto', sans-serif;
  background-color: #F1F4F9 !important;
  width: 100%;
  height: 100%;
}
.fix-margin {
  margin: 0 -15px;
}

.del, .add {
  cursor: pointer;
  margin: 2px;
}

.add:hover {
  background: none repeat scroll 0 0 rgba(51, 51, 51, 0.4);
}

small {
  font-size: 80%
}

p {
  color: #333;
  margin: 0 0 10px;
}

a, button {
  outline: none;
}
a:active, a:hover {
  outline: none;
}
a:hover {
  color: #20a0ff;
}

a:focus {
  outline: thin dotted #333;
  outline-offset: -2px;
  color: #20a0ff;
  text-decoration: none;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0 #000000;
  border-top: 1px solid;
  height: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}
b, strong {
  font-weight: bold
}
.pull-right {
  float: right !important
}
.pull-left {
  float: left !important
}
.text-muted {
  color: #999
}
.text-primary {
  color: #428bca
}

.text-primary:hover {
  color: #FF4949
}
.text-warning {
  color: hsl(48, 100%, 67%)
}
.text-warning:hover {
  color: #a47e3c
}
.text-danger {
  color: hsl(348, 100%, 61%)
}
.text-danger:hover {
  color: #953b39
}
.text-success {
  color: hsl(141, 71%, 48%)
}
.text-success:hover {
  color: #356635
}
.text-info {
  color: hsl(204, 86%, 53%)
}
.text-info:hover {
  color: #2d6987
}
.red {
  background-color: rgba(248, 0, 0, 0.5);
}

.box1, .box5 {
  background-color: rgba(0, 148, 0, 0.5);
}

.blue {
  background-color: rgba(0, 0, 255, 0.5);
}

.box4 {
  background-color: rgba(148, 0, 211, 0.5);
}

.orange {
  background-color: rgba(255, 160, 0, 0.5);
}
.warning {
  color: orange;
}

.success {
  color: green;
}
.text-left {
  text-align: left
}
.text-right {
  text-align: right
}
.text-center {
  text-align: center
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  /*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}
.widget-block{
  min-height: 170px;
  position: relative;
  margin-bottom:20px;
}
.widget-block .el-progress{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.widget-title{
  font-size: 1.7em;
  font-family: Segoe UI Light, Helvetica, Arial, sans-serif;
}
.widget-description{
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
  width: 50%;
  font-size: 32px;
  line-height: 48px;
  font-family: Segoe UI Light, Helvetica, Arial, sans-serif;
  color: #AD1457;
}
p.creator, div.creator{
  position: absolute;
  bottom: 0;
}
.el-button + .el-button{
  margin-left: 0;
}
.list-item.muted .el-button.is-disabled{
  background-color: #f4f4f5;
}
.list-item.muted .text-muted {
  color: #c0c4cc;
}
.list-item.muted .small {
  color: #c0c4cc;
}
.green-plan{
  color: #4c7737;
}
.red-plan{
  color: #e13c4c;
}
.blue-plan{
  color: #3f4bb8;
}
.bold{
  font-weight:600;
}
.normal{
  font-weight:400;
}
.light{
  font-weight:200;
}
.tested {
  border: 1px solid #20A0FF;
  cursor: pointer;
  background: #fafafa;
  color: #333;
}
input[name="subject"] {
  width: 90%;
}

input[name="subject"]:focus,
textarea:focus {
  border: 1px solid orange;
}
#dictionary_block .el-card__header,
#cardsblock .el-card__header,
#assetsblock .el-card__header {
  padding: 11px 20px;
}

.list-item .ion-ios-plus-empty,
.list-item .ion-ios-close-empty,
.errorcard .ion-ios-close-empty {
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 10;
}
.list-item.not-available i.ion-locked {
  color: #ddd;
  position: absolute;
  top: 0px;
  right: 10px;
  height: 36px;
  cursor: pointer;
  font-size: 20px;
}

.list-item {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.list-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
}
.list-item .el-input-group__append {
  padding: 0;
}

.list-item .el-input-group__append .el-button {
  margin: -10px 0px;
}

.list-item-card {
  height: auto;
  width: 99%;
}

.list-item.selected {
  border: 1px solid #FF494999;
  /* box-shadow: 0 4px 20px rgba(255,73,73,0.25), 0 4px 10px rgba(255,73,73,0.22);*/
}

.list-item.not-available {
  background: #EFF2F7;
}

.list-item {
  width: 100%;
  height: 112px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}
.not-available i.ion-locked:hover {
  color: #F7BA2A;
}
.text.not-available i {
  right: 15px;
}
.asset.selected {
  color: #20A0FF
}
.steps-wrapper {
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
}
.asset-description:after {
  content: "";
  display: inline-block;
  width: 0px;
}
.el-card__header {
  position: relative;
}
#dictionary_block .el-card__header p {
  margin: 8px 0 7px;
}

#dictionary_block .el-card__header .el-checkbox {
  margin: 10px 0 7px;
}

.warning {
  color: #F7BA2A;
}

.success {
  color: #13CE66;
}

.danger {
  color: #FF4949;
}

.blue {
  color: #20A0FF;
}
.ion-ios-star,
.ion-ios-star:hover,
.ion-ios-star-outline:hover,
.ion-ios-close-empty:hover {
  color: #FF4949
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.asset {
  float: none;
  margin: -1px 0 0 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px 15px 5px 5px;
}

.collapse .userinfo {
  float: right;
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
}

.clear {
  clear: both;
}

.percent {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}
textarea {
  height: 100%;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.rotated {
  -webkit-animation-name: cog;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  animation-name: cog;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@-ms-keyframes cog {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes cog {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes cog {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes cog {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.el-card__body {
  overflow: hidden;
}
.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.35, 0, .25, 1);
}
.avatar-wrapper-small {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px 0 0;
}
.avatar-small{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.avatar {
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#right-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.el-scrollbar .el-select-dropdown__item, .el-input__inner {
  font-family: Segoe UI Light, Helvetica, Arial, sans-serif;
  font-size: 17px;
}
.plan-title {
  text-transform: uppercase;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}
.sticky {
  overflow: visible !important;
}

.el-input {
  z-index: 15;
}

.el-dialog__body .el-collapse {
  border: none;
}
.el-collapse-item__header {
  padding-left: 20px;
  color: #FF4949;
}
.el-collapse-item__content {
  padding: 0 10px;
}
.el-select-dropdown__item img {
  width: 20px;
  float: left;
  margin: 7px 8px 8px 0;
}
.sidemenu-toolbar .ion-ios-close-empty {
  position: absolute;
  top: 0;
  right: 0;
}

span[tooltip]:hover:after {
  content: attr(tooltip);
  padding: 0px 4px;
  color: #333;
  position: absolute;
  left: 13px;
  top: -22px;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ff3860;
  background-color: #fff;
}
#dictionary_block .el-input {
  margin-bottom: 10px;
}
.router-link-active > i {
  color: #20a0ff;
}
.muted {
  background-color: #f4f4f5;
  color: #bcbec2;
}
.muted p {
  color: #e9e9eb;
}
span.success-text {
  background-color: #23d160;
  color: #fff;
  align-items: center;
  border-radius: 5px;
  padding-left: .1em;
  padding-right: .1em;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

span.warning-text {
  background-color: #FF4949;
  color: #fff;
  align-items: center;
  border-radius: 5px;
  padding-left: .1em;
  padding-right: .1em;
  vertical-align: top;
  white-space: nowrap;
}
.no-margin {
  margin: 0 !important;
}

.pointer {
  cursor: pointer;
}

.sidemenu {
  position: fixed;
  height: 100%;
  width: 70%;
  top: 0;
  background-color: #eef1f6;
  z-index: 9999;
}

.sidemenu-toolbar {
  position: relative;
  background-color: #20A0FF;
  padding: 20px 0;
  overflow: hidden;
}

.sidemenu-toolbar i {
  color: #F9FAFC;
  cursor: pointer;
}

.sidenav-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
  background-color: rgba(0, 0, 0, .54);
  opacity: 0;
  transition: all .5s cubic-bezier(.35, 0, .25, 1);
  transition-property: opacity;
  will-change: opacity;
}

.userinfo {
  padding: 0 15px;
  font-size: 14px;
  line-height: 20px;
}

.userinfo .userlogin {
  color: #fff;
}

.userinfo .useremail {
  color: #F9FAFC;
}

.el-card.box-card {
  height: 80vh;
  /* border: 1px solid #d1dbe5;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.12),0 0 6px 0 rgba(0,0,0,.04);*/
}

.personal-list {
  height: 50vh;
  list-style: none;
  padding: 0;
}

.personal-item {
  padding: 10px 20px 10px 10px;
  overflow: hidden;
  border-bottom: 1px solid rgb(209, 219, 229);
}

.item-title {
  display: inline-block;
}

.personal-item li a {
  display: inline-block;
}

.link-block a {
  padding: 5px;
}

.ion:hover {
  color: #20A0FF;
}

.ion-ios-loop-strong {
  cursor: pointer;
}

.favourite-button {
  position: absolute;
  bottom: 20px;
  left: 15px;
  font-size: 24px;
}
.el-icon-video-play {
  position: absolute;
  bottom: 20pxemaile;
  right: 20px;
  font-size: 24px;
}
.__cov-progress {
  position: absolute !important;
  z-index: 100;
}

.percentage {
  float: right;
  font-size: 48px;
}

.splash-enter {
  background-color: rgba(239, 96, 72, 0.4);
}

.splash-enter-active {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  transition: background-color 0.3s ease-out;
}

.splash-leave-to {
  opacity: 0;
  transform: translateX(-400px);
}

.splash-leave-active {
  transition: all 0.5s;
  position: absolute;
}

.splash-move {
  transition: transform 0.5s;
}

.cards-enter {
  background-color: #fff;
}

.cards-enter-active {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  transition: background-color 0.3s ease-out;
}

.cards-leave-to {
  opacity: 0;
  transform: translateX(-400px);
}

.cards-leave-active {
  transition: all 0.5s;
  position: absolute;
}

.cards-move {
  transition: transform 0.5s;
}
.card {
  height: 65vh;
  overflow: hidden;
}

.card .card-body {
  height: 100%;
}

.card-content header,
.card-wrapper header {
  height: 40px;
  background-color: #50b1ef;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  padding-left: 20px;
}

.card-content header h2,
.card-wrapper header h2 {
  display: inline-block;
  margin: 0;
  font-size: 24px;
  line-height: 40px;
}

.card-body > a {
  width: 49px;
  display: inline-block;
  cursor: pointer;
}

.card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: -2px;
  right: 18px;
  font-size: 38px;
}

.modal-close:hover {
  color: #f44336;
}

.ion {
  font-size: 24px;
  line-height: 0px;
  margin: 0;
  padding: 0;
}

.ion-big {
  font-size: 60px !important;
  line-height: 0px;
  margin: 0;
  padding: 0 20px;
}

.ion-small {
  font-size: 14px;
}

ul.nav.nav-list {
  height: 65vh;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav li a {
  padding: 10px 15px;
}

.nav li, .nav li a {
  position: relative;
  display: block;
}
@media (max-width: 991px) {
  .right-panel {
    position: absolute;
    z-index: 9999;
    width: 70%;
    right: 0;
  }

  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
  }

  .slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
  }
}

@media (max-width: 420px) {
  .right-panel {
    width: 95%;
  }
}
