<el-col :lg="{span: 12, offset: 2}" :xs="{span: 24, offset: 0}">
  <el-card id="slider-intro" v-loading.body="loading">
    <swiper :options="swiperOption" ref="mySwiperA">
      <swiper-slide v-for="(card, index) in cards" :key="index">
        <SlideComponent :item="card"></SlideComponent>
      </swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
      <div class="swiper-button-prev" slot="button-prev"></div>
      <div class="swiper-button-next" slot="button-next"></div>
    </swiper>
  </el-card>
</el-col>
