.text {
  margin-bottom: 20px;
  position: relative;
  color: #d3dce6;
  .image {
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  img {
    width: 100%;
    display: block;
  }
}
.text.open {
  background: #fafafa;
  color: #333;
}
