<el-col id='dictblock' :span='8' :xs='24'>
  <el-card class='box-card' id='dictionary_block'>
    <div class='clearfix' slot='header'>
      <el-row type='flex' justify='space-between'>
        <span class='h3' style="line-height: 38px">
          {{ $t('search') }}
        </span>
        <el-switch
          style='display: block; margin-top: 10px;'
          v-model='sentence'
          active-color='#13ce66'
          inactive-color='#409EFF'
          :active-text="$t('sentences')"
          :inactive-text="$t('words')">
        </el-switch>
        <el-popover
          placement='top-start'
          width='200'
          trigger='click'
          :disabled='isActive'
          popper-class='text-left'
          :content="$t('createCardNotAvailable')"
        >
          <el-button slot='reference' @click='openForm()'>
            {{ $t('add') }}
          </el-button>
        </el-popover>
      </el-row>
    </div>
    <el-input placeholder='слово для поиска..' v-model='word' @keyup.enter.native='search()'>
      <el-button
        class='el-icon-search'
        slot='append'
        @click='search()'
      ></el-button>
    </el-input>
    <p class='text-muted' v-if='message'>{{ message }}</p>
    <section
      data-scrollbar='data-scrollbar'
      style='height: 65vh'
      v-loading.body='loading'
    >
      <transition-group name='cards' tag='div'>
        <SearchItemComponent
          v-for='(card, index) in cards'
          :key='index'
          :card='card'
          :index='index'
        ></SearchItemComponent>
      </transition-group>
    </section>
  </el-card>
  <el-dialog :title="$t('newCard')" :visible.sync='dialogFormVisible'>
    <el-form :model='form'>
      <el-form-item>
        <el-input v-model='form.orig' placeholder='Оригинал'></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model='form.translate' placeholder='Перевод'></el-input>
      </el-form-item>
      <el-form-item>
        <el-checkbox :model='form.is_public'>
          {{ $t('visibleForAll') }}
        </el-checkbox
        >
      </el-form-item>
    </el-form>
    <el-collapse>
      <el-collapse-item title='Что это?' name='1'>
        <p v-html="$t('visibleDescription')"></p>
      </el-collapse-item>
    </el-collapse>
    <span class='dialog-footer' slot='footer'>
        <el-button type='warning' @click='dialogFormVisible = false'>
          {{ $t('cancel') }}
        </el-button>
        <el-button type='success' @click='submit()'>
          {{ $t('save') }}
        </el-button>
      </span>
  </el-dialog>
</el-col>
