<div class="list-item list-item-card el-row">
  <el-col :span="21">
    <p>{{ card.term.getValue() }}</p>
  </el-col>
  <el-col :span="2">
    <el-button
      type="default"
      icon="el-icon-plus"
      size="mini"
      @click="add()"
      plain
    ></el-button>
  </el-col>
  <el-col :span="24">
    <p :class="['no-margin', 'card-value', { 'text-success': card.exist }]">
      {{ card.value }}
    </p>
  </el-col>
  <el-col :span="24" v-if="card.term.creator">
    <el-popover placement="top-start" width="250" trigger="hover">
      <el-row>
        <el-col :span="6">
          <div class="avatar-wrapper-small pull-left">
            <div class="avatar">
              <img class="avatar-small" :src="card.term.user.avatar" />
            </div>
          </div>
        </el-col>
        <el-col :span="18">
          <p class="text-danger">{{ card.term.user.login }}</p>
          <p>{{ $t('cardsCreated', {quantity: card.term.user.cardsCreated}) }}</p>
        </el-col>
      </el-row>
      <span class="no-margin danger pull-right small" slot="reference">
        {{ $t('added', {login:  card.term.user.login}) }}
        </span>
    </el-popover>
    <template v-if="_user.id === card.term.user.id">
      <el-tooltip
        class="text-muted"
        v-if="card.term.is_public"
        effect="light"
        placement="top-start"
      >
        <div slot="content">{{$t('isPublicCard')}}</div>
        <i class="ion-ios-people ion-small"></i>
      </el-tooltip>
      <el-tooltip
        class="text-muted"
        v-else
        effect="light"
        placement="top-start"
      >
        <div slot="content">{{$t('isPrivateCard')}}</div>
        <i class="ion-ios-person ion-small"></i>
      </el-tooltip>
    </template>
  </el-col>
</div>
